body {
    background-image: url("/images/record.png");
    background-repeat: round;
    background-position: top right ;
    margin: 0px;
}


h1 {
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 56px;
    opacity: 0.95;
    margin: 15px 0 0 0;
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 56px;
    opacity: 0.95;
    margin: 0 0 0 0;
}


/*
header{
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 38px;
    opacity: 0.95;
}
*/


/*
main{
    color: black;
    background-color: lightgray;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 38px;
    opacity: 0.95;
    padding: 1em;
}
*/
/* Class selector */
p.mainParagraph{
    color: black;
    background-color: lightgray;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 38px;
    opacity: 0.95;
    padding: 1em;
}
