body {
    background-image: url("/images/record.png");
}

header{
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 38px;
    opacity: 0.95;
}

main{
    color: black;
    background-color: lightgray;
    text-align: center;
    font-family: Tisa, Helvetica, sans-serif;
    font-size: 38px;
    opacity: 0.95;
}
